.text-input {
  direction: rtl;
  text-align: right;
}

.loading-container {
  display: flex;
  justify-content: center;
}

.body-container {
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

.modal-input {
  /* direction: rtl; */
  text-align: right;
  width: 300px;
  margin-bottom: 2px;
}
