.login-container {
  direction: rtl;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
}

.login-btn {
  display: flex;
  justify-content: center;
  flex-flow: row;
  flex-wrap: nowrap;
}

.modal-login {
  display: flex;
  align-items: center;
  justify-content: center;
}
